<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css2.css">
</head>

<body>
  {% include "model-nav.html" %}
  <div class="card" id="telaCadastro">
    <div class="container">
      <form enctype="multipart/form-data" action="submit", method="POST">{% csrf_token %}

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" placeholder="Insira seu Nome">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" placeholder="Insira um E-mail válido" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" placeholder="Insira a senha" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="csenha">Confirme a senha</label>
          <input type="password" class="form-control" name="csenha" placeholder="Insira a senha novamente">       
        </div>
        {% for message in messages %}
              <div class="alert alert-danger">
                <strong>Atenção!</strong> {{ message }}
              </div>
        {% endfor %}
        <button type="submit" class="btn d-flex flex-column btn-info">Cadastrar-se<br>
        </button> 
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  </div>
</body>

</html>