
  <footer></footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <div class="bg-dark text-light" style="margin-bottom: 0" >
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-4">
          <h2 class="mb-4">Atendimento<br></h2>
          <ul class="list-unstyled">Horário de atendimento: 09:00 às 19:00 de segunda à sexta-feira, horário de Brasília (exceto feriados).</ul>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4">Contatos<br></h2>
          <p class="">019-9445566<br></p>
          <p class="text-light" contenteditable="true">faleconosco@unipartes.com.br<br></p>
          <p class="">456 Centro, Indaiatuba</p>
        </div>
        <div class="p-4 col-md-4" style = "margin-bottom: 0">
          <h2 class="mb-4 text-dark text-nowrap">Subscribe</h2>
          <form>
            <fieldset class="form-group"></fieldset><a href="/sobre/" class="btn d-flex btn-info text-light flex-column">Sobre<br></a>
          </form>
        </div>
      </div>
    </div>
  </div>